<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pythonanywhere.morheal.deliver"
    android:installLocation="preferExternal">

    <permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/orders_list"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OrderActivity"
            android:label="@string/order"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="delivery.ORDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddressActivity"
            android:label="@string/address"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="delivery.ADDRESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProductActivity"
            android:label="@string/tovar"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="delivery.PRODUCT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FilterActivity"
            android:label="@string/filter"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="delivery.FILTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>